@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    width: 100%;
    color: #444;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    
}

nav, section{
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: .5px solid #227c9d55;
}

main{
    margin-left: 80px;
    margin-right: 80px;
}

h1{
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0px;
}

h2{
    margin-bottom: 30px;
    font-weight: 600;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1px;
}


h3{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0;
    text-align: center;
    font-size: 18px;
}

/* Títulos Catergorías H3 */
.titulo-categorias{
    display: block;
    margin: 15px 0px 15px 0px;
    font-family: 'Roboto Condensed', sans-serif;    
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
}


p{
    margin-bottom: 15px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    letter-spacing: .1px;
}

/***  Imagen Pequeña ***/
.img-thumb-pequeño{
    width: 240px;
    height: auto;
}

.img-thumb-pequeño:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    transform:scale(1.02);
}

/***  Imagen Mediana ***/
.img-thumb-mediano{
    width: 320px;
    height: auto;
}

/***  Imagen Gaby ***/
.img-thumb-gaby{
    width: 340px;
    height: auto;
}

/***  Botones Acción ***/
.botones-accion{
    display: inline-block;
    padding: 5px 15px;
    background-color: #D4E09B;
    border: 1px solid #444;
    font-size: 14px;
    font-weight: bold;
    color: #444;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}

.botones-accion:hover{
    cursor: pointer;
    background-color: #d4e09bd0;
    color: #444;
}

/***  Botones Ir ***/
.botones-ir{  
    display: inline-block;
    padding: 10px 15px;
    margin-top: 30px;
    border: 1px solid #444;
    font-size: 14px;
    font-weight: bold;
    color: #444;
    letter-spacing: 1.5px;
    text-decoration: none;
    text-transform: uppercase;

    transition: all .3s;
}

.botones-ir:hover{
    padding: 10px 15px;
    background-color: #D4E09B;
    border-color: #444;
    color: #444;
    transform: translateY(-4px);
}

/*** Box Formularios ***/
.box-form, .box-form-aside{
    width: 200px; 
    height: 33px; 
    padding-left:8px;
    border: 1px solid #444;
}

/*** Hover Títulos ***/
.hover-verde:hover{
    color: #D4E09B;
}

/*** Hover Redes Sociales ***/
.hover-pad:hover{
    padding: 2px;
}

/*** Hover Footer ***/
.hover-footer:hover{
    color:gray
}


/* NAV BAR */
.espacio-x{
    padding-right: 3rem;
    padding-left: 3rem;
}

.animacion-logo{
    text-align: center;

    animation-name: efecto__logo;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

@keyframes efecto__logo{
    from{
        transform:rotate(-10deg);
        transform: scale(.4)
    }
    to{
        transform:rotate(0deg);
        transform: scale(1)
    }
}

.navbar-nav{
    --bs-nav-link-hover-color: #98a9b0;
}

.nav-link{
    color: #444;
    font-size: 1.1rem;
    letter-spacing: 0;   
    margin-inline: .4rem;
}

.subrayado-menu1{
    border-bottom: 5px solid #a4c6ac;
}

.subrayado-menu2{
    border-bottom: 5px solid #227C9D;
}

.subrayado-menu3{
    border-bottom: 5px solid #D4E09B;
}

/*** FOOTER ***/
.container-footer{
    width: 100%;
}

/* Botón Buscar Nav Bar */
.btn-outline-success {
    --bs-btn-color: #444;
    --bs-btn-border-color: #444;
    --bs-btn-hover-color: #444;
    --bs-btn-hover-bg: #F6F4D2;
    --bs-btn-hover-border-color: #444;
    --bs-btn-focus-shadow-rgb: 25,135,84;

    --bs-btn-active-color: #444;
    --bs-btn-active-bg: #F6F4D2;
    --bs-btn-active-border-color: #444;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #D4E09B;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #444;
    --bs-gradient: none;
}   




/* ----------- PAGINA DE INICIO ---------- */
.gradiente{
    padding:10px;
    background: linear-gradient(180deg, rgba(212,224,155,1) 5%, rgba(231,232,196,1) 80%);
}

.img-link{
    width: max-content;
    padding-left:0;
    padding-right:0;
}

.h3-link{
    width: 240px;
}


/* ----------- PÁGINA RECETAS ---------- */
/* Dropdown */
.btn-nams {
    --bs-btn-color: #fff;
    --bs-btn-bg: #D4E09B;
    --bs-btn-border-color: #D4E09B;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #d4e09bd0;
    --bs-btn-hover-border-color: #d4e09bd0;
    --bs-btn-focus-shadow-rgb: 212,224,155; /*sombra alrededor del botón*/
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #d4e09bd0;
    --bs-btn-active-border-color: #d4e09bd0;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #d4e09bd0;
    --bs-btn-disabled-border-color: #d4e09bd0;
}

.dropdown-item:hover {
    color: #444;
    background-color: var(--bs-dropdown-link-hover-bg);
}


/* Grid Recetas Categorías */
.grid-categorias {
    margin-bottom: 0;
    padding-inline: 90px;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4,1fr);
    justify-content: center;
    column-gap: 30px;
}

.grid-categorias li{
    width: 240px;
    list-style: none;
}

.grid-categorias li a{
    text-align: center;
    text-decoration: none;
    color: #444;
}

.grid-categorias li a h3{
    margin-top: 10px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
}

.grid-categorias li a:hover{
    color: #D4E09B;
}

.grid-categorias li a img:hover{
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    transform:scale(1.02);
}

/* ----------- PÁGINA BLOG ---------- */
.contenedor-posts-blog{
    margin-top: 60px;
    padding-bottom:15px;

    column-gap: 40px;
    row-gap: 40px;
}

.post-blog a img:hover{
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    transform:scale(1.02);
}

.h3-link-med{
    width: 320px;
    height: 30px;
    margin: 25px 0px 25px 0px;
}

.texto-post {
    width: 320px;
    height: 90px;
    overflow: hidden;
    /*padding-inline: 10px;*/
    text-align: justify;
}

/* ----------- PÁGINA EBOOK ---------- */

/* ----------- PÁGINA SOBRE MI ---------- */

.espacio{
    padding-top: 15px;
}

/* ----------- PÁGINA CONTACTO ---------- */

.seccion-tags ul{
    width: 380px;
    column-gap: 10px;
}

.seccion-tags ul li{
    display: inline-block;
}

.seccion-tags ul li a{
    font-size:13px;
    text-decoration: none;
    color: #444;
}

.link-tag{
    display: inline-block;
    margin-bottom: 10px;
    padding: 6px 10px;
    width: 180px;
    height: max-content;
    border: 1px solid #444;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    color: #444;
    letter-spacing: 1.5px;
    text-decoration: none;
    text-transform: uppercase;

    transition: all .3s;
}

.link-tag:hover{
    padding: 6px 12px;
    background-color: #D4E09B;
    border-color: #444;
    color: #444;
    transform: translateY(-2px);
}




/* ----------- MEDIA QUERIES ---------- */

/* ----- 1200 ----- */
@media only screen and (max-width: 1200px) {
    main{
        margin-left: 50px;
        margin-right: 50px;
    }

    /* Nav Bar */
    .espacio-x{
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }

}

/* ----- 1050 ----- */
@media only screen and (max-width: 1050px) {

    /* Página Recetas */
    .grid-categorias {
        padding-inline: 220px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(6,1fr);
    }

    /* Página Contacto */
    .box-form-aside{
        width: 150px; 
    }
}

/* ----- 992 ----- */
@media only screen and (max-width: 992px) {

    main{
        margin-left: 10px;
        margin-right: 10px;
    }
    
    /* Nav Bar */
    .navbar{
        box-shadow: #F6F4D2;
    }

    .navbar-nav{
        margin-top: 1rem;
        padding-inline: 2rem;
        padding-top: .5rem;
        padding-bottom: 1rem;

        background-color: #D4E09B;
        --bs-nav-link-hover-color: #F6F4D2;
    }

    .nav-item{
        font-family: 'Roboto', sans-serif;
        text-transform: capitalize;
        letter-spacing: 0;
    }

    .subrayado-menu1, .subrayado-menu2, .subrayado-menu3, .subrayado-menu4, .subrayado-menu5{
        border-bottom:solid .5px #F6F4D2;
    }

    .navbar-collapse{
        margin-inline: 2rem;
    }

    /* Página de Inicio */
    .img-thumb-gaby{
        width: 300px;
        height: auto;
    }

    /* Página de Contacto */
    .box-form-aside{
        width: 200px;
        margin-bottom: 15px; 
    }

}

/* ----- 768 ----- */
@media only screen and (max-width: 768px) {

    /* Nav Bar */
    .espacio-x{
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .navbar-collapse{
        margin-inline: 1rem;
    }

    /* Página Recetas */

    /*dropdown menu*/
    .btn {
        width:12.5rem;
        margin-left:.5rem;
    }

    .dropdown-menu{
        width:12.5rem;
    }

    /*grid categorías*/
    .grid-categorias {
        padding-inline: 104px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(8,1fr);
        column-gap: 15px;
    }

}

/* ----- 500 ----- */
@media only screen and (max-width: 500px) {
    .animacion-logo{
        width: 175px;
    }

    .img-thumb-pequeño{
        width:200px;
    }

    /* Nav Bar */
    .espacio-x{
        padding-right: 0rem;
        padding-left: 0rem;
    }

    .navbar-collapse{
        margin-inline: .5rem;
    }

    /*** Página Recetas ***/
    .grid-categorias {
        padding-inline: 20px;
    }

    .grid-categorias li{
        width: 200px;
    }

    /* Página Blog */
    .contenedor-posts-blog {
        column-gap: 20px;
    }

    .contenedor-posts-blog .post-blog a img{
        width: 200px;
        height: auto;
    }

    .h3-link-med{
        width: 200px;
    }
    
    .texto-post{
        width: 200px;
        text-align: left;
    }


}

/* ----- 460 ----- */
@media only screen and (max-width: 460px) {
    .img-thumb-pequeño{
        width:240px;
    }

    /*** Página Recetas ***/
    .grid-categorias {
        padding-inline: 110px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(16,1fr);
    }

    .grid-categorias li{
        width: 240px;
    }

    /* Página Blog */
    .contenedor-posts-blog .post-blog a img{
        width: 250px;
        height: auto;
    }

    .h3-link-med{
        width: 250px;
    }
    
    .texto-post{
        width: 250px;
        text-align: justify;
    }
} 

/* ----- 360 ----- */
@media only screen and (max-width: 360px) {
    /* Página de Inicio */
    .box-form{
        width: 140px; 
    }

    /* Página de Contacto */
    .box-form-aside{
        width: 150px;
    }
}








    
    


