/***  Botones Acción ***/
.botones-accion{
    display: inline-block;
    padding: 5px 15px;
    background-color: $mainColor;
    border: 1px solid #444;
    border-radius: 6px;
    font-family: $fontRobotoC;
    font-size: 14px;
    font-weight: bold;
    color: #444;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;

    &:hover{
        background-color: #d4e09bd0;
        color: $colorGris;
    }
}

/***  Botones Ir ***/
.botones-ir{  
    @extend .botones-accion;
    padding: 10px 15px;
    margin-top: 30px;
    background-color: white;
    letter-spacing: 1.5px;

    transition: all .3s;

    &:hover{
        padding: 10px 15px;
        background-color: $mainColor;
        border-color: $colorGris;
        color: $colorGris;
        transform: translateY(-4px);
    }
}