/*** FOOTER ***/
.container-footer{
    width: 100%;
    padding-top:30px;
    padding-bottom:30px;
    background-color: $main-color;
}

.hover-footer:hover{
    color:gray;
}

.p-footer{
    font-size: map-get($font-sizes,small);
}