/*** FOOTER ***/
.container-footer{
    width: 100%;
    padding-top:30px;
    padding-bottom:30px;
    background-color: $mainColor;
}

.hover-footer:hover{
    color:gray;
}

.p-footer{
    font-size: 12px;
}