@mixin h3-h6{
    font-family: $font-roboto;
    font-size: map-get($font-sizes,h3);
    font-weight: 600;
    letter-spacing: .1px;
    text-align: center;
}

@mixin hyperlink{
    color: $color-support;
    font-weight: bold;
    text-decoration: none;

    &:hover{
        color:#444;
    }
}