/* NAVBAR */
nav{
    border-bottom: .5px solid #227c9d55;
}

.navbar{
    --bs-navbar-active-color: gray;
}

.espacio-x{
    padding-right: 3rem;
    padding-left: 3rem;
}

/*logo*/
.animacion-logo{
    text-align: center;

    animation-name: efecto__logo;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

@keyframes efecto__logo{
    from{
        transform:rotate(-10deg);
        transform: scale(.4)
    }
    to{
        transform:rotate(0deg);
        transform: scale(1)
    }
}

/*elementos del menú colapsable*/
.font-nav{
    font-family: 'Roboto Condensed', sans-serif;
}

.nav-link{
    margin-inline: 6px;
    padding: 8px 16px 10px 16px;
    color: #444;
    font-size: 1.05rem;
    letter-spacing: 0;   
    text-decoration: none;

    &:hover{
        color: #98a9b0;
    }
}

.activo{
    color: gray;

    &:hover{
        color: gray;
    }
}

.subrayado-menu1{
    border-bottom: 5px solid $secondary-color;
}

.subrayado-menu2{
    border-bottom: 5px solid $color-support;
}

.subrayado-menu3{
    border-bottom: 5px solid $main-color;
}


/* Botón Buscar Navbar */
.nav-box-buscar{
    border: 1px solid $color-texto;
    font-family: $font-roboto;
}

.nav-boton-buscar{
    width: 50px;
    margin-left: 0px;
    border: 1px solid $color-texto;
    box-shadow: 25,135,84;

    &:hover{
        background-color: #F6F4D2;
    }
}