@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap');

$font-roboto: 'Roboto', sans-serif;
$font-robotoC: 'Roboto Condensed', sans-serif;
$font-cabin: 'Cabin Sketch', cursive;

$main-color: #D4E09B;
$secondary-color: #a4c6ac;
$color-support: #227C9D;

$color-texto: #444;

$font-sizes:(
    small: 12px,
    buttons: 14px,
    normal: 16px,
    h3: 18px,
    h2: 20px,
    h1: 30px
)